# 모의고사 1-2 통계분석 Q1~5

In [1]:
#---------------------------------------------------------------------------------------
# Q1) FIFA데이터에서 각 선수의 키는 Heghit변수에 피트와 인치로 입력되어 있습니다. 
#      이를 cm로 변환하여 새로운 변수 Height_cm을 생성하시오. 
#      ( “ ' ” 앞의 숫자는 피트이며, “ ' ” 뒤의 숫자는 인치, 1피트 = 30cm, 1인치 = 2.5cm)
#---------------------------------------------------------------------------------------

In [2]:
import pandas as pd
import numpy as np
df_fifa = pd.read_csv("FIFA.csv", encoding="cp949")
df_fifa

,ID,Name,Age,Nationality,Overall,Club,Preferred_Foot,Work_Rate,Position,Jersey_Number,Contract_Valid_Until,Height,Weight_lb,Release_Clause,Value,Wage
0,158023,L. Messi,31,Argentina,94,FC Barcelona,Left,Medium/ Medium,RF,10,2021,5'7,159,226500,110500,565
1,20801,Cristiano Ronaldo,33,Portugal,94,Juventus,Right,High/ Low,ST,7,2022,6'2,183,127100,77000,405
2,190871,Neymar Jr,26,Brazil,92,Paris Saint-Germain,Right,High/ Medium,LW,10,2022,5'9,150,228100,118500,290
3,193080,De Gea,27,Spain,91,Manchester United,Right,Medium/ Medium,GK,1,2020,6'4,168,138600,72000,260
4,192985,K. De Bruyne,27,Belgium,91,Manchester City,Right,High/ High,RCM,7,2023,5'11,154,196400,102000,355
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16637,238813,J. Lundstram,19,England,47,Crewe Alexandra,Right,Medium/ Medium,CM,22,2019,5'9,134,143,60,1
16638,243165,N. Christoffersson,19,Sweden,47,Trelleborgs FF,Right,Medium/ Medium,ST,21,2020,6'3,170,113,60,1
16639,241638,B. Worman,16,England,47,Cambridge United,Right,Medium/ Medium,ST,33,2021,5'8,148,165,60,1
16640,246268,D. Walker-Rice,17,England,47,Tranmere Rovers,Right,Medium/ Medium,RW,34,2019,5'10,154,143,60,1
16641,246269,G. Nugent,16,England,46,Tranmere Rovers,Right,Medium/ Medium,CM,33,2019,5'10,176,165,60,1

In [3]:
df_fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16642 entries, 0 to 16641
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    16642 non-null  int64
 1   Name                  16642 non-null  object
 2   Age                   16642 non-null  int64
 3   Nationality           16642 non-null  object
 4   Overall               16642 non-null  int64
 5   Club                  16642 non-null  object
 6   Preferred_Foot        16642 non-null  object
 7   Work_Rate             16642 non-null  object
 8   Position              16642 non-null  object
 9   Jersey_Number         16642 non-null  int64
 10  Contract_Valid_Until  16642 non-null  int64
 11  Height                16642 non-null  object
 12  Weight_lb             16642 non-null  int64
 13  Release_Clause        16642 non-null  int64
 14  Value                 16642 non-null  int64
 15  Wage                  16642 non-null  int64
dtypes: int64(9), object(7)
memory usage: 2.0+ MB

In [4]:
df_fifa["Height_cm"] = df_fifa["Height"]

In [5]:
df_fifa["Height_cm"] = df_fifa["Height_cm"].map(lambda x: int(x.split("'")[0])*30 + int(x.split("'")[1])*2.5)
df_fifa["Height_cm"]

0        167.5
1        185.0
2        172.5
3        190.0
4        177.5
         ...
16637    172.5
16638    187.5
16639    170.0
16640    175.0
16641    175.0
Name: Height_cm, Length: 16642, dtype: float64

# Q1 끝

In [6]:
#---------------------------------------------------------------------------------------
# Q2) 포지션을 의미하는 Position변수를 아래 표를 참고하여 “Forward”, “Midfielder”, 
#      “Defender”, “GoalKeeper”로 재범주화하고, factor형으로 변환하여 Position_Class 
#       라는 변수를 생성하고 저장하시오.
#---------------------------------------------------------------------------------------

In [7]:
df_fifa["Position"].value_counts()

ST     1924
GK     1900
CB     1646
CM     1276
LB     1223
RB     1199
RM     1022
LM     1012
CAM     876
CDM     873
RCB     615
LCB     595
RCM     355
LCM     353
LW      338
RW      325
RDM     228
LDM     224
LS      184
RS      179
RWB      84
LWB      76
CF       66
RAM      21
LAM      20
LF       15
RF       13
Name: Position, dtype: int64

In [8]:
Forward = ["LS","ST","RS","LW","LF","CF","RF","RW"]
Midfielder = ["LAM","CAM","RAM","LM","LCM","CM","RCM","RM"]
Defender = ["LWB","LDM","CDM","RDM","RWB","LB","LCB","CB","RCB","RB"]
Goalkeeper = ["GK"]

In [9]:
df_fifa.loc[df_fifa["Position"].isin(Forward),"Position_Class"] = "Forward"
df_fifa.loc[df_fifa["Position"].isin(Midfielder),"Position_Class"] = "Midfielder"
df_fifa.loc[df_fifa["Position"].isin(Defender),"Position_Class"] = "Defender"
df_fifa.loc[df_fifa["Position"].isin(Goalkeeper),"Position_Class"] = "Goalkeeper"

In [10]:
df_fifa["Position_Class"].value_counts()

Defender      6763
Midfielder    4935
Forward       3044
Goalkeeper    1900
Name: Position_Class, dtype: int64

## Q2 끝

In [11]:
#---------------------------------------------------------------------------------------
# Q3) 새로 생성한 Position_Class 변수의 각 범주에 따른 Value(선수의 시장가치)의 
#      평균값의 차이를 비교하는 일원배치 분산분석을 수행하고 결과를 해석하시오. 
#      그리고 평균값의 차이가 통계적으로 유의하다면 사후검정을 수행하고 설명하시오.
#---------------------------------------------------------------------------------------

In [12]:
from statsmodels.stats.anova import anova_lm
from statsmodels.formula.api import ols

anova_lm(ols("Value ~ C(Position_Class)", data = df_fifa).fit())

ModuleNotFoundError: No module named 'statsmodels'

## Q3-1
Value 값을 Position_Class를 요인으로 ANOVA 분석 결과,

F 통계값에 대한 P-value가 유의수준 0.05에 비해 현저히 낮으므로

귀무가설인 mean(Position_Class == Forward) = mean(Position_Class == Midfielder) = ... = mean(Position_Class == GoalKeeper)를 기각하여,

Position_Class 요인에 따라 적어도 한 쌍은 평균이 통계적으로 다르다라고 말할 수 있다.

In [ ]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
pairwise_tukeyhsd(df_fifa["Value"], df_fifa["Position_Class"]).summary()

## Q3-2
Tukey HSD로 요인 Position_Class 에 대한 쌍검정을 했을때,

Forward - Midfeilder 쌍을 제외하고, 모두 meandiff 값이 HSD 범위를 벗어났으므로, Value 평균이 0.05의 유의수준에 대해 다르다고 말할 수 있다.

Forward - Midfeilder 쌍은 meandiff 값이 HSD 범위 내에 있으므로, Value 평균이 다르다고 말할 수 없다.

In [ ]:
#---------------------------------------------------------------------------------------
# Q4) Preferred Foot(주로 사용하는 발)과 Position_Class(재범주화 된 포지션)변수에 
#      따라 Value(이적료)의 차이가 있는지를 알아보기 위해 이원배치분산분석을 
#      수행하고 결과를 해석하시오.
#--------------------------------------------------------------------------------------

In [ ]:
anova_lm(ols("Value ~ Preferred_Foot * Position_Class", data = df_fifa).fit())

In [14]:
df_fifa.corr()

,ID,Age,Overall,Jersey_Number,Contract_Valid_Until,Weight_lb,Release_Clause,Value,Wage,Height_cm
ID,1.000000,-0.737610,-0.423717,0.192431,0.166814,-0.191752,-0.124451,-0.137516,-0.206945,-0.092039
Age,-0.737610,1.000000,0.464903,-0.255474,-0.161816,0.232524,0.060747,0.076442,0.148563,0.085335
Overall,-0.423717,0.464903,1.000000,-0.228448,0.196236,0.154307,0.616444,0.629205,0.573953,0.038583
Jersey_Number,0.192431,-0.255474,-0.228448,1.000000,0.014456,-0.090863,-0.096654,-0.102231,-0.093218,-0.041401
Contract_Valid_Until,0.166814,-0.161816,0.196236,0.014456,1.000000,-0.024708,0.241999,0.237373,0.172608,-0.013968
Weight_lb,-0.191752,0.232524,0.154307,-0.090863,-0.024708,1.000000,0.039860,0.044140,0.065241,0.755261
Release_Clause,-0.124451,0.060747,0.616444,-0.096654,0.241999,0.039860,1.000000,0.994354,0.855927,0.001940
Value,-0.137516,0.076442,0.629205,-0.102231,0.237373,0.044140,0.994354,1.000000,0.861540,0.001890
Wage,-0.206945,0.148563,0.573953,-0.093218,0.172608,0.065241,0.855927,0.861540,1.000000,0.020167
Height_cm,-0.092039,0.085335,0.038583,-0.041401,-0.013968,0.755261,0.001940,0.001890,0.020167,1.000000

In [29]:
df_fifa.groupby(['Value']).mean()

,ID,Age,Overall,Jersey_Number,Contract_Valid_Until,Weight_lb,Release_Clause,Wage,Height_cm
Value,,,,,,,,,
10,136734.666667,37.666667,56.866667,17.466667,2019.666667,180.333333,16.200000,1.133333,184.000000
20,173599.428571,34.666667,56.619048,21.857143,2019.809524,171.190476,30.047619,1.142857,180.357143
30,179994.478261,30.086957,55.434783,19.608696,2019.521739,175.521739,51.260870,1.434783,180.978261
40,205185.765625,26.953125,54.812500,24.859375,2019.906250,167.093750,71.968750,1.359375,178.984375
50,229490.304000,21.800000,51.600000,24.928000,2019.952000,165.864000,95.944000,1.120000,180.160000
...,...,...,...,...,...,...,...,...,...
89000,211110.000000,24.000000,89.000000,21.000000,2022.000000,165.000000,153500.000000,205.000000,175.000000
93000,183277.000000,27.000000,91.000000,10.000000,2020.000000,163.000000,172100.000000,340.000000,170.000000
102000,192985.000000,27.000000,91.000000,7.000000,2023.000000,154.000000,196400.000000,355.000000,177.500000
110500,158023.000000,31.000000,94.000000,10.000000,2021.000000,159.000000,226500.000000,565.000000,167.500000
118500,190871.000000,26.000000,92.000000,10.000000,2022.000000,150.000000,228100.000000,290.000000,172.500000

## Q4-1
주 요인인, Preferred_Foot, Position_Class 에 대해 F 값에 대한 P-value가 유의수준 0.05에 대해 현저히 낮으므로,

귀무가설을 기각하여, 주 요인에 따라 Value 평균이 다르다고 말할 수 있다.

또한 교호작용 요인인, Preferred_Foot * Position_Class 에 대해서도 F값에 대한 P-value가 유의수준 0.05에 비해 낮기 때문에,

귀무가설을 기각하여, 두 요인의 교호작용에 대해서도 Value 평균이 달라진다고 말할 수 있다.

In [ ]:
df_fifa["Preferred_Foot_Position_Class"] = df_fifa["Preferred_Foot"] + "_" + df_fifa["Position_Class"]
df_fifa["Preferred_Foot_Position_Class"].value_counts()

In [ ]:
pairwise_tukeyhsd(df_fifa["Value"], df_fifa["Preferred_Foot_Position_Class"]).summary()

## Q4-2
두 요인의 조합인 Preferred_Foot * Position_Class 에 대해 Tukey HSD 구간 검정을 했을때,

reject가 True인 쌍은 서로 value 평균이 다르다고 말할 수 있고 (유의수준 0.05)

reject가 False인 쌍은 서로 value 평균이 다르다고 말할 수 없다 (유의수준 0.05)

In [ ]:
#---------------------------------------------------------------------------------------
# Q5)Age, Overall, Wage, Height_cm, Weight_lb 가 Value에 영향을 미치는지 
#     알아보는 회귀분석을 단계적 선택법을 사용하여 수행하고 결과를 해석하시오. 
#---------------------------------------------------------------------------------------

In [ ]:
# 1, 상수항
model = ols("Value ~ 1", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ Age", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ Overall", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ Wage", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ Height_cm", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ Weight_lb", data = df_fifa)
print(model.fit().aic)

In [ ]:
# 2, Wage 추가
model = ols("Value ~ Wage", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ 1", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ Wage + Age", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ Wage + Overall", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ Wage + Height_cm", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ Wage + Weight_lb", data = df_fifa)
print(model.fit().aic)

In [ ]:
# 3, Wage + Overall
model = ols("Value ~ Wage + Overall", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ Wage", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ Overall", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ Wage + Overall + Age", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ Wage + Overall + Height_cm", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ Wage + Overall + Weight_lb", data = df_fifa)
print(model.fit().aic)

In [ ]:
# 4, Wage + Overal + Age
model = ols("Value ~ Wage + Overall + Age", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ Overall + Age", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ Wage + Age", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ Wage + Overall", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ Wage + Overall + Age + Height_cm", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ Wage + Overall + Age + Weight_lb", data = df_fifa)
print(model.fit().aic)

In [ ]:
# 5, Wage + Overal + Age + Height_cm
model = ols("Value ~ Wage + Overall + Age + Height_cm", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ Overall + Age + Height_cm", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ Wage + Age + Height_cm", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ Wage + Overall + Height_cm", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ Wage + Overall + Age", data = df_fifa)
print(model.fit().aic)
model = ols("Value ~ Wage + Overall + Age + Height_cm + Weight_lb", data = df_fifa)
print(model.fit().aic)

In [ ]:
# 6, Wage + Overal + Age + Height_cm 의 AIC 값보다 작아지는 벌점이 없으므로, 변수 추가 또는 삭제 종료
# 최종 모델은 Value ~ Wage + Overal + Age + Height_cm

model = ols("Value ~ Wage + Overall + Age + Height_cm", data = df_fifa)
model.fit().summary()

## Q5
최종 모델은 Value =  ...... 이며,

수정된 R2 결정계수는 0.791로 모델이 약 79%를 설명한다고 할 수 있다.

각각의 coef는 P value가 유의수준보다 낮으므로 (0.05) 통계적으로 유의하다.

Wage 가 증가할 때 value 가 증가하며, Overall 이 증가할 때도 value 는 증가한다.

Age 가 증가할 때는 value 는 감소한다.

또한 coef 절대값이 Overall 이 가장 크므로, value에 대한 영향력이 가장 크다고 할 수 있다.