<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#회귀분석-과제" data-toc-modified-id="회귀분석-과제-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>회귀분석 과제</a></span><ul class="toc-item"><li><span><a href="#kc_house_data.csv데이터에서-id,-date를-삭제하세요." data-toc-modified-id="kc_house_data.csv데이터에서-id,-date를-삭제하세요.-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>kc_house_data.csv데이터에서 id, date를 삭제하세요.</a></span></li><li><span><a href="#종속변수:-price,-데이터-내-수치형-변수를-독립변수로-설정하세요" data-toc-modified-id="종속변수:-price,-데이터-내-수치형-변수를-독립변수로-설정하세요-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>종속변수: price, 데이터 내 수치형 변수를 독립변수로 설정하세요</a></span></li><li><span><a href="#수치형-변수이더라도-범주형-변수인-값을-구분하고-더미변수화-시키세요-(데이터는-수치형이나,-데이터가-category라면-범주형변수입니다.-ex)-grade)" data-toc-modified-id="수치형-변수이더라도-범주형-변수인-값을-구분하고-더미변수화-시키세요-(데이터는-수치형이나,-데이터가-category라면-범주형변수입니다.-ex)-grade)-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>수치형 변수이더라도 범주형 변수인 값을 구분하고 더미변수화 시키세요 (데이터는 수치형이나, 데이터가 category라면 범주형변수입니다. ex) grade)</a></span><ul class="toc-item"><li><span><a href="#bedrooms,-bathrooms,-floors-는-갯수,-높이이므로-수치형-변수이고,-view,-condition,-grade가-범주형으로-의심됨.-이외에는-모두-수치형임" data-toc-modified-id="bedrooms,-bathrooms,-floors-는-갯수,-높이이므로-수치형-변수이고,-view,-condition,-grade가-범주형으로-의심됨.-이외에는-모두-수치형임-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>bedrooms, bathrooms, floors 는 갯수, 높이이므로 수치형 변수이고, view, condition, grade가 범주형으로 의심됨. 이외에는 모두 수치형임</a></span></li><li><span><a href="#view,-condition,-grade를-원핫인코딩" data-toc-modified-id="view,-condition,-grade를-원핫인코딩-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>view, condition, grade를 원핫인코딩</a></span></li></ul></li><li><span><a href="#다중선형회귀분석을-진행해보세요" data-toc-modified-id="다중선형회귀분석을-진행해보세요-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>다중선형회귀분석을 진행해보세요</a></span><ul class="toc-item"><li><span><a href="#결과" data-toc-modified-id="결과-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>결과</a></span></li><li><span><a href="#VIF-값이-10-이상인-변수가-많아서-다중공선성을-가진-변수들의-축소가-필요하다" data-toc-modified-id="VIF-값이-10-이상인-변수가-많아서-다중공선성을-가진-변수들의-축소가-필요하다-1.4.2"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>VIF 값이 10 이상인 변수가 많아서 다중공선성을 가진 변수들의 축소가 필요하다</a></span></li></ul></li></ul></li></ul></div>

# 회귀분석 과제 

## kc_house_data.csv데이터에서 id, date를 삭제하세요.

In [2]:
import pandas as pd 
data = pd.read_csv('./data/kc_house_data.csv')
data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,standard,0,3,7,1180,0,1955,0,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,standard,0,3,7,2170,400,1951,1991,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,standard,0,3,6,770,0,1933,0,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,standard,0,5,7,1050,910,1965,0,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,standard,0,3,8,1680,0,1987,0,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,standard,0,3,8,1530,0,2009,0,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,standard,0,3,8,2310,0,2014,0,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,standard,0,3,7,1020,0,2009,0,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,standard,0,3,8,1600,0,2004,0,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,standard,0,3,7,1020,0,2008,0,1020,1357

In [7]:
data.drop(columns = ['id','date'], inplace=True)
data

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,standard,0,3,7,1180,0,1955,0,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,standard,0,3,7,2170,400,1951,1991,1690,7639
2,180000.0,2,1.00,770,10000,1.0,standard,0,3,6,770,0,1933,0,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,standard,0,5,7,1050,910,1965,0,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,standard,0,3,8,1680,0,1987,0,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,360000.0,3,2.50,1530,1131,3.0,standard,0,3,8,1530,0,2009,0,1530,1509
21609,400000.0,4,2.50,2310,5813,2.0,standard,0,3,8,2310,0,2014,0,1830,7200
21610,402101.0,2,0.75,1020,1350,2.0,standard,0,3,7,1020,0,2009,0,1020,2007
21611,400000.0,3,2.50,1600,2388,2.0,standard,0,3,8,1600,0,2004,0,1410,1287
21612,325000.0,2,0.75,1020,1076,2.0,standard,0,3,7,1020,0,2008,0,1020,1357

## 종속변수: price, 데이터 내 수치형 변수를 독립변수로 설정하세요

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          21613 non-null  float64
 1   bedrooms       21613 non-null  int64
 2   bathrooms      21613 non-null  float64
 3   sqft_living    21613 non-null  int64
 4   sqft_lot       21613 non-null  int64
 5   floors         21613 non-null  float64
 6   waterfront     21613 non-null  object
 7   view           21613 non-null  int64
 8   condition      21613 non-null  int64
 9   grade          21613 non-null  int64
 10  sqft_above     21613 non-null  int64
 11  sqft_basement  21613 non-null  int64
 12  yr_built       21613 non-null  int64
 13  yr_renovated   21613 non-null  int64
 14  sqft_living15  21613 non-null  int64
 15  sqft_lot15     21613 non-null  int64
dtypes: float64(3), int64(12), object(1)
memory usage: 2.6+ MB

In [54]:
from patsy import dmatrices

column_names = ""
for x in data.columns:
    column_names = column_names + " + " + x
print(column_names)
y,X = dmatrices("price ~ bedrooms + bathrooms + sqft_living + sqft_lot + floors + view + condition + grade + sqft_above + sqft_basement + yr_built + yr_renovated + sqft_living15 + sqft_lot15",
                data = data, return_type = "dataframe")

 + price + bedrooms + bathrooms + sqft_living + sqft_lot + floors + waterfront + view + condition + grade + sqft_above + sqft_basement + yr_built + yr_renovated + sqft_living15 + sqft_lot15

In [55]:
X

,Intercept,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,1.0,3.0,1.00,1180.0,5650.0,1.0,0.0,3.0,7.0,1180.0,0.0,1955.0,0.0,1340.0,5650.0
1,1.0,3.0,2.25,2570.0,7242.0,2.0,0.0,3.0,7.0,2170.0,400.0,1951.0,1991.0,1690.0,7639.0
2,1.0,2.0,1.00,770.0,10000.0,1.0,0.0,3.0,6.0,770.0,0.0,1933.0,0.0,2720.0,8062.0
3,1.0,4.0,3.00,1960.0,5000.0,1.0,0.0,5.0,7.0,1050.0,910.0,1965.0,0.0,1360.0,5000.0
4,1.0,3.0,2.00,1680.0,8080.0,1.0,0.0,3.0,8.0,1680.0,0.0,1987.0,0.0,1800.0,7503.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,1.0,3.0,2.50,1530.0,1131.0,3.0,0.0,3.0,8.0,1530.0,0.0,2009.0,0.0,1530.0,1509.0
21609,1.0,4.0,2.50,2310.0,5813.0,2.0,0.0,3.0,8.0,2310.0,0.0,2014.0,0.0,1830.0,7200.0
21610,1.0,2.0,0.75,1020.0,1350.0,2.0,0.0,3.0,7.0,1020.0,0.0,2009.0,0.0,1020.0,2007.0
21611,1.0,3.0,2.50,1600.0,2388.0,2.0,0.0,3.0,8.0,1600.0,0.0,2004.0,0.0,1410.0,1287.0
21612,1.0,2.0,0.75,1020.0,1076.0,2.0,0.0,3.0,7.0,1020.0,0.0,2008.0,0.0,1020.0,1357.0

## 수치형 변수이더라도 범주형 변수인 값을 구분하고 더미변수화 시키세요 (데이터는 수치형이나, 데이터가 category라면 범주형변수입니다. ex) grade)

In [56]:
X.describe()

,Intercept,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
count,21613.0,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,1.0,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,1986.552492,12768.455652
std,0.0,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,685.391304,27304.179631
min,1.0,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,399.000000,651.000000
25%,1.0,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,1490.000000,5100.000000
50%,1.0,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,1840.000000,7620.000000
75%,1.0,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,2360.000000,10083.000000
max,1.0,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,6210.000000,871200.000000

### bedrooms, bathrooms, floors 는 갯수, 높이이므로 수치형 변수이고, view, condition, grade가 범주형으로 의심됨. 이외에는 모두 수치형임

In [58]:
X.view.value_counts()

0.0    19489
2.0      963
3.0      510
1.0      332
4.0      319
Name: view, dtype: int64

In [59]:
X.condition.value_counts()

3.0    14031
4.0     5679
5.0     1701
2.0      172
1.0       30
Name: condition, dtype: int64

In [60]:
X.grade.value_counts()

7.0     8981
8.0     6068
9.0     2615
6.0     2038
10.0    1134
11.0     399
5.0      242
12.0      90
4.0       29
13.0      13
3.0        3
1.0        1
Name: grade, dtype: int64

### view, condition, grade를 원핫인코딩

In [61]:
X_dummies = pd.get_dummies(X, columns = ['view','condition','grade'])
X_dummies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21613 entries, 0 to 21612
Data columns (total 34 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Intercept      21613 non-null  float64
 1   bedrooms       21613 non-null  float64
 2   bathrooms      21613 non-null  float64
 3   sqft_living    21613 non-null  float64
 4   sqft_lot       21613 non-null  float64
 5   floors         21613 non-null  float64
 6   sqft_above     21613 non-null  float64
 7   sqft_basement  21613 non-null  float64
 8   yr_built       21613 non-null  float64
 9   yr_renovated   21613 non-null  float64
 10  sqft_living15  21613 non-null  float64
 11  sqft_lot15     21613 non-null  float64
 12  view_0.0       21613 non-null  uint8
 13  view_1.0       21613 non-null  uint8
 14  view_2.0       21613 non-null  uint8
 15  view_3.0       21613 non-null  uint8
 16  view_4.0       21613 non-null  uint8
 17  condition_1.0  21613 non-null  uint8
 18  condition_2.0  21613 non-null  uint8
 19  condition_3.0  21613 non-null  uint8
 20  condition_4.0  21613 non-null  uint8
 21  condition_5.0  21613 non-null  uint8
 22  grade_1.0      21613 non-null  uint8
 23  grade_3.0      21613 non-null  uint8
 24  grade_4.0      21613 non-null  uint8
 25  grade_5.0      21613 non-null  uint8
 26  grade_6.0      21613 non-null  uint8
 27  grade_7.0      21613 non-null  uint8
 28  grade_8.0      21613 non-null  uint8
 29  grade_9.0      21613 non-null  uint8
 30  grade_10.0     21613 non-null  uint8
 31  grade_11.0     21613 non-null  uint8
 32  grade_12.0     21613 non-null  uint8
 33  grade_13.0     21613 non-null  uint8
dtypes: float64(12), uint8(22)
memory usage: 2.6 MB

## 다중선형회귀분석을 진행해보세요

In [27]:
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [66]:
import time
import itertools

def processSubset(X,y, feature_set):
            model = sm.OLS(y,X[list(feature_set)]) # Modeling
            regr = model.fit() # 모델 학습
            AIC = regr.aic # 모델의 AIC
            return {"model":regr, "AIC":AIC}
        
'''
전진선택법
'''
def forward(X, y, predictors):
    
    # 데이터 변수들이 미리정의된 predictors에 있는지 없는지 확인 및 분류
    remaining_predictors = [p for p in X.columns.difference(['Intercept']) if p not in predictors]
    results = []
    for p in remaining_predictors:
        results.append(processSubset(X=X, y= y, feature_set=predictors+[p]+['Intercept']))
        
    # 데이터프레임으로 변환
    models = pd.DataFrame(results)

    # AIC가 가장 낮은 것을 선택
    best_model = models.loc[models['AIC'].argmin()] # index

    print("Processed ", models.shape[0], "models on", len(predictors)+1, "predictors in")
    print('Selected predictors:',best_model['model'].model.exog_names,' AIC:',best_model[0] )
    return best_model

'''
후진소거법
'''
def backward(X,y,predictors):
    tic = time.time()
    results = []
    
    # 데이터 변수들이 미리정의된 predictors 조합 확인
    for combo in itertools.combinations(predictors, len(predictors) - 1):
        results.append(processSubset(X=X, y= y,feature_set=list(combo)+['Intercept']))
    models = pd.DataFrame(results)
    
    # 가장 낮은 AIC를 가진 모델을 선택
    best_model = models.loc[models['AIC'].argmin()]
    toc = time.time()
    print("Processed ", models.shape[0], "models on", len(predictors) - 1, "predictors in",
          (toc - tic))
    print('Selected predictors:',best_model['model'].model.exog_names,' AIC:',best_model[0] )
    return best_model



'''
단계적 선택법
'''

def Stepwise_model(X,y):
    Stepmodels = pd.DataFrame(columns=["AIC", "model"])
    tic = time.time()
    predictors = []
    Smodel_before = processSubset(X,y,predictors+['Intercept'])['AIC']
    # 변수 1~10개 : 0~9 -> 1~10
    for i in range(1, len(X.columns.difference(['Intercept'])) + 1):
        Forward_result = forward(X=X, y=y, predictors=predictors) # constant added
        print('forward')
        Stepmodels.loc[i] = Forward_result
        predictors = Stepmodels.loc[i]["model"].model.exog_names
        predictors = [ k for k in predictors if k != 'Intercept']
        Backward_result = backward(X=X, y=y, predictors=predictors)
        if Backward_result['AIC']< Forward_result['AIC']:
            Stepmodels.loc[i] = Backward_result
            predictors = Stepmodels.loc[i]["model"].model.exog_names
            Smodel_before = Stepmodels.loc[i]["AIC"]
            predictors = [ k for k in predictors if k != 'Intercept']
            print('backward')
        if Stepmodels.loc[i]['AIC']> Smodel_before:
            break
        else:
            Smodel_before = Stepmodels.loc[i]["AIC"]
    toc = time.time()
    print("Total elapsed time:", (toc - tic), "seconds.")
    return (Stepmodels['model'][len(Stepmodels['model'])])

In [ ]:
Stepwise_best_model = Stepwise_model(X = X_dummies,y = y)

In [70]:
Stepwise_best_model

In [72]:
Stepwise_best_model.aic

590980.6646014957

In [71]:
Stepwise_best_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.675
Model:                            OLS   Adj. R-squared:                  0.674
Method:                 Least Squares   F-statistic:                     1947.
Date:                Tue, 04 Jan 2022   Prob (F-statistic):               0.00
Time:                        22:59:08   Log-Likelihood:            -2.9547e+05
No. Observations:               21613   AIC:                         5.910e+05
Df Residuals:                   21589   BIC:                         5.912e+05
Df Model:                          23
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
sqft_living      88.6838      2.411     36.780      0.000      83.958      93.410
view_4.0       3.384e+05   1.39e+04     24.384      0.000    3.11e+05    3.66e+05
yr_built      -3147.7634     70.643    -44.559      0.000   -3286.228   -3009.298
grade_11.0     7.931e+05   1.93e+04     41.143      0.000    7.55e+05    8.31e+05
grade_12.0     1.257e+06   2.85e+04     44.042      0.000     1.2e+06    1.31e+06
grade_10.0     5.212e+05   1.61e+04     32.346      0.000     4.9e+05    5.53e+05
grade_13.0     2.416e+06   6.21e+04     38.935      0.000    2.29e+06    2.54e+06
grade_9.0      3.404e+05   1.47e+04     23.176      0.000    3.12e+05    3.69e+05
grade_8.0       2.04e+05   1.37e+04     14.888      0.000    1.77e+05    2.31e+05
bathrooms      4.743e+04   3407.130     13.920      0.000    4.07e+04    5.41e+04
view_0.0      -1.145e+05   7702.843    -14.866      0.000    -1.3e+05   -9.94e+04
grade_7.0      1.227e+05   1.32e+04      9.305      0.000    9.68e+04    1.49e+05
bedrooms      -2.629e+04   2005.636    -13.107      0.000   -3.02e+04   -2.24e+04
sqft_lot15       -0.5165      0.054     -9.527      0.000      -0.623      -0.410
floors         4.543e+04   3732.294     12.173      0.000    3.81e+04    5.27e+04
condition_5.0   8.54e+04   1.58e+04      5.411      0.000    5.45e+04    1.16e+05
sqft_living15    30.0266      3.526      8.515      0.000      23.115      36.938
sqft_above       29.4790      2.370     12.436      0.000      24.833      34.125
view_2.0      -6.133e+04   9904.442     -6.192      0.000   -8.07e+04   -4.19e+04
yr_renovated     23.8850      3.812      6.266      0.000      16.413      31.357
condition_4.0  4.498e+04   1.52e+04      2.965      0.003    1.52e+04    7.47e+04
grade_6.0      4.698e+04   1.35e+04      3.467      0.001    2.04e+04    7.35e+04
condition_3.0  2.584e+04   1.51e+04      1.710      0.087   -3775.786    5.55e+04
sqft_basement    59.2048      2.708     21.859      0.000      53.896      64.514
Intercept      6.218e+06   1.36e+05     45.683      0.000    5.95e+06    6.49e+06
==============================================================================
Omnibus:                    13764.354   Durbin-Watson:                   1.974
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           684950.955
Skew:                           2.420   Prob(JB):                         0.00
Kurtosis:                      30.151   Cond. No.                     1.99e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.99e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

### 결과
* F값에 대한 p value가 0.05 유의수준에서 유의함 (모델이 유의함)
* 수정된 R계수를 보면 약 67%를 설명하고 있음
* condition_3.0을 제외하고 나머지 독립변수는 t값에 대한 p value가 0.05 유의수준에서 유의함 (나머지 독립변수는 귀무가설을 기각함)

In [116]:
best_model_X = X_dummies[list(Stepwise_best_model.params.index)]
best_model_X

,sqft_living,view_4.0,yr_built,grade_11.0,grade_12.0,grade_10.0,grade_13.0,grade_9.0,grade_8.0,bathrooms,...,condition_5.0,sqft_living15,sqft_above,view_2.0,yr_renovated,condition_4.0,grade_6.0,condition_3.0,sqft_basement,Intercept
0,1180.0,0,1955.0,0,0,0,0,0,0,1.00,...,0,1340.0,1180.0,0,0.0,0,0,1,0.0,1.0
1,2570.0,0,1951.0,0,0,0,0,0,0,2.25,...,0,1690.0,2170.0,0,1991.0,0,0,1,400.0,1.0
2,770.0,0,1933.0,0,0,0,0,0,0,1.00,...,0,2720.0,770.0,0,0.0,0,1,1,0.0,1.0
3,1960.0,0,1965.0,0,0,0,0,0,0,3.00,...,1,1360.0,1050.0,0,0.0,0,0,0,910.0,1.0
4,1680.0,0,1987.0,0,0,0,0,0,1,2.00,...,0,1800.0,1680.0,0,0.0,0,0,1,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,1530.0,0,2009.0,0,0,0,0,0,1,2.50,...,0,1530.0,1530.0,0,0.0,0,0,1,0.0,1.0
21609,2310.0,0,2014.0,0,0,0,0,0,1,2.50,...,0,1830.0,2310.0,0,0.0,0,0,1,0.0,1.0
21610,1020.0,0,2009.0,0,0,0,0,0,0,0.75,...,0,1020.0,1020.0,0,0.0,0,0,1,0.0,1.0
21611,1600.0,0,2004.0,0,0,0,0,0,1,2.50,...,0,1410.0,1600.0,0,0.0,0,0,1,0.0,1.0
21612,1020.0,0,2008.0,0,0,0,0,0,0,0.75,...,0,1020.0,1020.0,0,0.0,0,0,1,0.0,1.0

In [118]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
final_list = []
for i in range(0,len(best_model_X.columns)):
    final_list.append([best_model_X.columns[i], variance_inflation_factor(best_model_X.values,i)])
    #print(best_model_X.columns[i], variance_inflation_factor(best_model_X.values,i+1))
final_df = pd.DataFrame(final_list, columns = ['var','vif'])
final_df[final_df['vif']>=10]

/Users/hmc/opt/anaconda3/envs/ADP_Class/lib/python3.7/site-packages/statsmodels/stats/outliers_influence.py:195: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

              var          vif
0     sqft_living          inf
7       grade_9.0    11.298433
8       grade_8.0    18.678908
11      grade_7.0    20.792492
17     sqft_above          inf
20  condition_4.0    21.957512
22  condition_3.0    25.603954
23  sqft_basement          inf
24      Intercept  9125.689826

### VIF 값이 10 이상인 변수가 많아서 다중공선성을 가진 변수들의 축소가 필요하다